.tags__list {
	display: flex;
	gap: 4px;
	flex-wrap: wrap;
	justify-content: flex-end;
	padding: 0;
	margin: 0;
	max-height: calc(100vh - 480px);
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 8px;
	&::-webkit-scrollbar {
		width: 8px;
	}
	&::-webkit-scrollbar-track {
		background: var(--divider-color);
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--text-secondary-color);
	}
}
