.button {
  height: 40px;
  border: 0;
  border-radius: 20px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.active {
  background: var(--background-orange);
  color: var(--background);
  }
  
.inactive {
  background: var(button-background-inactive);
  color: var(--button-text-inactive);
}
