.button {
  height: 40px;
  border: 0;
  border-radius: 20px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.active {
  background: var(--button-background-active);
  color: var(--button-text-active);
  }
  
.inactive {
  background: var(--button-background-inactive);
  color: var(--button-text-inactive);
}

.noBackground{
  background: none;
  color: var(--button-background-active);
}
