{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": [
    "react"
  ],
  "parser": "babel-eslint",
  "globals": {
    "window": "readonly",
    "document": "readonly",
    "Element": "readonly",
    "FileReader": "readonly",    
    "ArrayBuffer": "readonly",
    "Uint8Array": "readonly",
    "Promise": "readonly",
    "btoa": "readonly",
    "atob": "readonly",
    "Blob": "readonly",
    "File": "readonly",
    "DataTransfer": "readonly"
  }
}