{
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/recommended",
    "plugin:promise/recommended"
  ],
  "plugins": [
    "jsx-a11y"
  ],
  "rules": {
    "jsx-quotes": [
      1,
      "prefer-double"
    ],
    "semi": [2, "always"],
    "react/prop-types": "warn",
    "react/no-unused-prop-types": "warn",
    "react/require-default-props": "warn",
    "indent": ["error", 2]
  }
}
