# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log
.idea
.vscode


# webstorm scss compile files
/src/components/ArticlePreview/articlePreview.module.css
/src/components/ArticlePreview/articlePreview.module.css.map
/src/components/ArticlePreview/.sass-cache/074f04292590a8b94847cdc0d1b74e3367b01de1/articlePreview.module.scssc
/src/components/Pages/Home/Banner/banner.module.css
/src/components/Pages/Home/Banner/banner.module.css.map
/src/components/Pages/Home/Banner/.sass-cache/46510143b0a5917443a1770aa95902d7a4a58b79/banner.module.scssc
/src/components/Header/header.module.css
/src/components/Header/header.module.css.map
/src/components/Header/.sass-cache/ad09bd541544dc71b2426531bcf194c7b1ee855f/header.module.scssc
/src/components/Pages/Home/home.module.css
/src/components/Pages/Home/home.module.css.map
/src/components/Pages/Home/.sass-cache/076c8be2f2d9e0899c2e2ec800833a5378b6e5d7/home.module.scssc
/src/components/Pages/Home/MainView/mainView.module.css
/src/components/Pages/Home/MainView/mainView.module.css.map
/src/components/Pages/Home/MainView/.sass-cache/f2cb81d93ab43aae26b46de513ff89b4380ce367/mainView.module.scssc
/src/components/Pages/Home/Tags/tags.module.css
/src/components/Pages/Home/Tags/tags.module.css.map
/src/components/Pages/Home/Tags/.sass-cache/e483fa148d42aa3e641526c8962b031e6cef5631/tags.module.scssc
