.container {
  border: none;
}

.title {
  text-align: center;
  font-size: 36px;
  color: var(--dark-text);
  margin-top: 32px;
}
.form {
  border: none;
  max-width: 540px;
  margin: 0 auto;
  margin-top: 24px;
  // input,
  // textarea {
  //   padding: 8px 16px 8px 16px;
  //   background: #f4f4f6;
  //   border: 1px solid #cccccc;
  //   width: 100%;
  //   height: 40px;
  //   resize: none;
  //   &:focus{
  //     outline:none;
  //     border-color:#cccccc;
  //   }
  // }


  
  &__item {
    border: none;
    height: 40px;
    text-align: right;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
    &:nth-child(3){
      input{
        padding-right: 50px;
      }
    }
  }
  &__clip{
      border:none;
      outline:none;
      background-color:transparent;
      position:absolute;

      right: 16px;
      top: 50%;
      transform: translateY(-50%);
  }
  &__textarea {
    padding: 0;
    height: 256px;
    margin-bottom: 24px;
  }
}

.form input {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  margin-bottom: 24px;

  font-size: 16px;
  line-height: 24px;
  color: #62626A;

  background-color: #F4F4F6;
  border: 1px solid #CCCCCC;
}

.form textarea {
  width: 100%;
  height: 160px;
  padding: 8px 16px;
  margin-bottom: 24px;

  font-size: 16px;
  line-height: 24px;
  color: #62626A;

  resize: none;

  background-color: #F4F4F6;
  border: 1px solid #CCCCCC;
}

.image_input {
  position: relative;
}

.image_input button {
  position: absolute;
  right: 0;
  top: 22px;
}

.tags_generator {
  position: relative;
}

.tags_generator section {
  position: absolute;
  right: 5px;
  top: 5px;
}