.container {
  display: flex;
  justify-content: center;
  border: 1px solid;
  border-radius: 100px;
  padding: 4px 8px;
  gap: 4px;
}

.clickable {
  cursor: pointer;
}

.white {
  background-color: var(--text-color);
  color: var(--background);
  border-color: var(--text-color);
}

.text {
  composes: caption from "../common.module.css";
  margin: 0;
}

.icon {
  display: flex;
  cursor: pointer;
}