
ul.tag_list {
	padding-left: 0!important;
	display: inline-block;
	list-style: none!important
}

ul.tag_list li {
	display: inline-block!important
}


.tag_default[href]:focus,
.tag_default[href]:hover {
	background-color: #0591fd;
}

.tag_default {
	background-color: var(--primary);
	color: rgb(241, 241, 241)!important;
	font-size: .8rem;
	padding-top: .1rem;
	padding-bottom: .1rem;
	white-space: nowrap;
	margin-right: 3px;
	margin-bottom: .2rem;
	display: inline-block
}

.tag_default:hover {
	text-decoration: none
}

.tag_default.tag-outline {
	border: 1px solid rgb(230, 245, 15);
	color: rgb(247, 3, 226)!important;
	background: 0 0!important
}

.tag_pill {
	padding-right: .6em;
	padding-left: .6em;
	border-radius: 10rem
}
.tag_default.tag_outline {
	border: 1px solid #ddd;
	color: #aaa!important;
	background: 0 0!important
}