.article__container {
  min-width: 808px;
  width: 100%;
}

.empty__content {
  text-align: center;
  margin-top: 25px;
}

.list{
  margin: 0;
  padding: 0;
  max-width: 100%;
  list-style-type: none;
  max-height: 65vh;
  overflow-y: auto;
  scrollbar-width: thin;
}

.list::-webkit-scrollbar{
  width: 8px;
  height: 494px;
  background: var(--banner-color);
}
.list::-webkit-scrollbar-thumb{
background: var(--primary);
border: 3px solid var(--primary);
}
.list::-webkit-scrollbar-button:vertical:start:decrement,
.list::-webkit-scrollbar-button:vertical:start:increment {
  display: none;
}