@import '../ui-style/ui-style.scss';

.wrapper {
  @include text-default;
  max-width: 600px;
  min-width: 300px;
}

.label {
  color: $color-primary;
  margin-bottom: 4px;
  max-width: 100%;
  padding: 0 16px;
}

.textarea {
  background-color: $color-input;
  border: 2px solid transparent;
  border-radius: 20px;
  box-sizing: border-box;
  color: $color-secondary;
  column-gap: 8px;
  padding: 8px 16px;
  resize: none;
  width: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &:focus {
    border-color: $color-accent;
    color: $color-primary;
    outline: 0;
  }
  &::placeholder {
    color: $color-white20;
  }
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 10px 0;
  }
  &::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: $color-white10;
    border: 2px solid transparent;
    border-radius: 8px;
  }
  &_error {
    border-color: $color-alert;
  }
  &_success {
    border-color: $color-success;
  }
}

.text {
  color: $color-primary;
  margin-top: 8px;
  margin-bottom: 0;
  max-width: 100%;
  padding: 0 16px;
  &_error {
    color: $color-alert;
  }
  &_success {
    color: $color-success;
  }
}
