.tag_list {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    flex-wrap: wrap;
}

.tag_default {
    color: var(--text-white);
    background-color: #2F2F37;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 100px;
}

.tag_default:hover {
    color: var(--text-white);
}

.tag_default:focus {
    background-color: var(--accent-color);
    color: var(--text-white);
}