@import '../../ui-library/ui-style/ui-style.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 80px;
  background-color: $color-bg;
  gap: 24px;
}

.group_layout {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
  flex-wrap: nowrap;
}

.group_layout_icons{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 16px;
  margin-bottom: 16px;
  & > div{
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: nowrap;
  }
}

.h2 {
  font-family: 'JetBrains Mono', sans-serif;
  font-weight: 600;
  margin-bottom: 24px;
  color: $color-primary;
}

.props{
  color: $color-disabled;
}

.h4 {
  font-family: 'JetBrains Mono', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $color-secondary;
}
