@import '../../ui-elements/ui-style/ui-style.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 100px;
  background-color: $BG_PRIMARY;
  gap: 24px;
}

.group_layout {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
  flex-wrap: nowrap;
}

.h2 {
  font-family: 'JetBrains Mono', sans-serif;
  font-weight: 600;
  margin-bottom: 24px;
  color: $PRIMARY;
}

.h4 {
  font-family: 'JetBrains Mono', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 16px 0;
  color: $SECONDARY;
}

html {
  height: 100%;
}

nav {
  display: none !important;
}
