.container {
  height: 40px;
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  height: 40px; 
}

.info__name {
  color: var(--dark-text);
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  transition: color .5s linear;
}

.info__name:hover {
  color:var(--primary);
  text-decoration: none;
}

.info__date {
  color: var(--gray-text);
  font-size: 12px;
  line-height: 16px;
}

.avatar {
  width: 40px;
  height: 40px;
  border:2px solid var(--dark-text);
  margin-right: 8px;
  img{
    max-width:100%;
    height: auto;
  }
}