@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./JetBrainsMono-Regular.woff2") format("woff2"),
    url("./JetBrainsMono-Regular.woff") format("woff");
}

@font-face {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./Exo2-Bold.woff2") format("woff2"),
    url("./Exo2-Bold.woff") format("woff");
}
