@font-face {
	font-family: 'Golos';
	src:
		url('Golos-Text_Regular.woff2') format('woff2'),
		url('./Golos-Text_Regular.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('./PPNeueMachina-Ultrabold.otf') format('otf');
  font-weight: 800;
  font-style: normal;
}