.container {
  padding-bottom: 30px;
}

.container h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  margin-left: 190px;
  margin-bottom: 32px;
  color:var(--dark-text)
}

.logaut__text {
  text-align: center;
}

.create__form {
  width: 728px;
  border: 1px solid var(--tags-border);
  border-radius: 0;
  margin: auto;
  margin-bottom: 24px;
  background-color: var(--comment-container);
}

.create__header {
  background-color: #F4F4F6;
  height: 120px;
}

.create__textarea {
  height: 100%;
  width: 100%;
  border: none;
  padding: 24px;
  padding-bottom: 0;
  resize: none;
  background-color: var(--comment-input);
}

.create__footer {
  height: 88px;
  background-color: var(--back);
  padding: 24px;
}
.create__footer button {
  float: right;
}

.published__section {
  min-height: 208px;
  width: 728px;
  border: 1px solid var(--tags-border);
  margin: auto;
  margin-bottom: 24px;
  background-color: var(--comment-container);
}

.published__header {
  display: flex;
  justify-content: space-between;
  height: 88px;
  padding:  24px;
}

.published__user {
  display: flex;
  height: 40px;
}

.published__user img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.published__userdata {
  display: flex;
  flex-direction: column;
}

.published__username {
  color: #0A0A0B;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.published__date {
  color: #62626A;
  font-size: 12px;
  line-height: 16px;
}

.published__button{
  width: 24px; 
  height: 40px;
  cursor: pointer;
}

.delete__button path {
  stroke: var(--dark);
}

.delete__button:hover path {
  stroke: #F53D5C;
}

.published__textbox {
  padding: 24px;
  padding-top: 0;
}

.published__text {
  word-wrap: break-word;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-text);
}
