@import '../ui-style/ui-style.scss';

.text_field {
  @include text-default;
  min-width: 200px;
  max-width: 600px;
}

.label {
  padding: 0 16px;
  margin-bottom: 4px;
  color: $PRIMARY;
  max-width: 100%;
}

.input {
  color: $SECONDARY;
  padding: 0 16px;
  height: 40px;
  width: 100%;
  background-color: $INPUT;
  border: 2px solid transparent;
  border-radius: 20px;
  &:focus {
    border-color: $ACCENT;
    outline: 0;
  }
}

.error {
  border-color: $ALERT;
}
