@import "../../../assets/style/global.css";

.tag {
	display: flex;
	align-items: center;
	padding: 4px 8px;
	width: fit-content;
	border-radius: 100px;
	cursor: pointer;
	overflow-wrap: anywhere;

	&:hover,
	&:active,
	&:visited,
	&:link {
		text-decoration: none;
		color: var(--text-primary-color);
	}
}

.default {
	composes: tag;
	background-color: var(--input-color);
}

.active {
	composes: tag;
	background-color: var(--accent-color);
}
