.wrapper {
  position: relative;
  cursor: pointer;
  margin: 0 auto;
}
.changer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
  background: radial-gradient(transparent,  var(--bg-secondary-color));
  padding: 8px;
  border-radius: 9px;
  position: absolute;
  z-index: 1;
  gap: 4px;
}