.header {
	width: 100%;
	box-shadow: 0px -1px 0px 0px #E0E0E0 inset;
	background-color:var(--back);
}

.navbar {
	display: flex;
	max-width: 1140px;
	height: 60px;
	margin: auto;
	position: relative;
	padding: 10px 16px;
	right: 0;
	left: 0;
	z-index: 1030;
}

@media(min-width:544px) {
	.navbar {
		border-radius: .25rem
	}
}

.navbar_brand {
	float: left;
	padding-bottom: .25rem;
	color: var(--dark);
	font-family: titillium web, sans-serif;
	font-size: 1.5rem!important;
	padding-top: 0!important;
	margin-right: 2rem!important;
	text-decoration: none; 
	
}

.navbar_brand:focus,
.navbar_brand:hover {
	text-decoration: none;
	color: var(--primary);
}

.navbar_brand>img {
	display: block;
	color: var(--dark);
}

.nav {
	padding-left: 0;
	margin: 0;
	list-style: none;
}

.nav_link {
	display: flex;
	align-items: center;
	color: var(--dark);
	text-decoration: none; 
}

.nav_link img {
	width: 24px;
	height: 24px;
	border: 1px solid var(--dark);
	border-radius: 0;
}

.nav_link span {
	vertical-align: middle; 
}
svg {
	width: 24px;
	height: 24px;
	margin-right: 8px;
}

.nav_link:focus{
	text-decoration: none;
	color: var(--primary);
}
.nav_link:focus svg path{
	stroke: var(--primary);
}
.nav_link:hover {
	text-decoration: none;
	color: var(--primary);
}

.nav_link:active {
	stroke: var(--primary);
}		

.nav_link:hover path {
	stroke: var(--primary);
}

.nav_link:active path{
	stroke: var(--primary);
}		

.nav_link.disabled{
	color: #818a91;
	stroke: #818a91;
}

.navbar_nav .nav_item {
	float: left
}

.navbar_nav .nav_link {
	display: flex;
	align-items: center;
	padding-top: .425rem;
	padding-bottom: .425rem;
}

.navbar_nav .nav_link+.nav_link {
	margin-left: 1rem
}

.navbar_nav .nav_item+.nav_item {
	margin-left: 1rem
}

.pull_xs_right {
	float: right!important
}


.nav_item p {
	display: inline-block;
	margin: 0;
	vertical-align: top;
}

.ava_image {
	width: 30px;
	border-radius: 15px;
}