.header {
  background-color: var(--header-background);
  padding: 16px 0;
}

.name {
  font-family: "Neue Machina", Arial, sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.17;
  color: var(--text-color);
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}