.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background: #1c1c21;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #f2f2f3;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.nav {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav_item {
  margin-right: 36px;
}

.nav_item:last-of-type {
  margin-right: 0;
}

.link {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f2f2f3;
}

.link:focus {
  color: #f2f2f3;
  text-decoration: none;
  font-size: 18px;
}

.link_purple {
  color: #8585ad;
}

.link_purple:focus {
  color: #8585ad;
  text-decoration: none;
}
