.sidebar {
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	background-color: var(--bg-secondary-color);
	border-radius: 20px;
	width: 268px;
	height: fit-content;
	p {
		color: var(--text-primary-color);
		margin: 0;
	}
}
