.wrapper{
  display: flex;
  align-items: center;
  width: 100px;
  margin-right: auto;
}
.text{
  margin: 0;
  padding: 0;
  color:var(--dark);
}
.button{
  margin-left: 20px;
  position: relative;
  cursor:pointer;
  &:focus{
    border: none;
    outline:none;
  }
  &:before, &:after {
    content: '';
    position: absolute;
  }
  &:before{
    width: 40px;
    height: 20px;
    background:#6290FF url(../../assets//ico/moon.svg) no-repeat 80% 50% / 30%;
    border-radius: 10px;
    top: -3px;
    left: -50%;
    //#FCEEC9
  }
  
  // &:focus:before {
  // border: 2px solid var(--primary);
  // }
  
  &:after{
    transition:.3s left linear;
    width: 20px;
    height: 20px;
    border: 2px solid #6290FF;
    border-radius: 100%;
    background: var(--white);
    left: -50%;
    top: -3px;
  }
  
}
.active{
  &:after{
    left: 100%;
  }
  &:before{
    background:#6290FF url(../../assets//ico/sun.svg) no-repeat 20% 50% / 30%;
  }
}