@import '../ui-style/ui-style.scss';

$animation_time: 0.5s;

.button {
  @include text-default;
  border: 0;
  outline: 0;
  border-radius: 20px;
  height: 40px;
  padding: 0px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  & > span {
    flex: 1;
    white-space: nowrap;
  }
}

.primary {
  border: 2px solid transparent;
  color: $color-primary;
  background-color: $color-accent;
  transition: background-color $animation_time, color $animation_time;
  & svg > path {
    stroke: $color-primary;
    transition: stroke $animation_time;
  }
  &:hover {
    background-color: $color-accent-dark;
    transition: background-color $animation_time, color $animation_time;
  }
  &:focus {
    outline: 0px;
    border: 2px solid $color-primary;
  }
  &:active {
    background-color: $color-accent-light;
  }
  &:disabled {
    color: $color-secondary;
    background-color: $color-disabled;
  }
}

.outline_alert {
  color: $color-alert;
  background-color: transparent;
  border: 2px solid $color-alert;
  transition: background-color $animation_time, color $animation_time, border $animation_time;
  & svg > path {
    stroke: $color-alert;
    transition: stroke $animation_time;
  }
  &:focus {
    outline: 0px;
    border: 2px solid lighten($color-alert, 20%);
  }
  &:hover {
    color: $color-primary;
    background-color: $color-alert;
    border: 2px solid $color-alert;
    transition: background-color $animation_time, color $animation_time, border $animation_time;
    & svg > path {
      stroke: $color-primary;
      transition: stroke $animation_time;
    }
  }
  &:active {
    color: $color-primary;
    background-color: darken($color-alert, 20%);
    transition: background-color $animation_time, color $animation_time, border $animation_time;
  }
}

.navigation {
  color: $color-secondary;
  background-color: transparent;
  transition: background-color $animation_time, color $animation_time;
  & svg > path {
    stroke: $color-secondary;
    transition: stroke $animation_time;
  }
  &:hover {
    color: $color-primary;
    text-decoration: none;
    background-color: $color-white10;
    transition: background-color $animation_time, color $animation_time;
    & svg > path {
      stroke: $color-primary;
      transition: stroke $animation_time;
    }
  }
  &:focus {
    text-decoration: none;
    color: $color-secondary;
    outline: 2px solid $color-secondary;
  }
  &:active {
    color: $color-primary;
    background-color: $color-white10;
  }
  &:disabled {
    color: $color-secondary;
    background-color: transparent;
  }
  &_active {
    color: $color-primary;
    text-decoration: none;
    cursor: default;
    & svg > path {
      stroke: $color-primary;
    }
    &:hover {
      background-color: transparent;
    }
    &:focus {
      outline: 0;
    }
    &:visited {
      color: $color-primary;
    }
  }
}

.text_button {
  @include text-default;
  line-height: 20px;
  color: $color-accent;
  border: 2px solid transparent;
  border-left: 0;
  border-right: 0;
  padding: 0;
  background-color: transparent;
  transition: border $animation_time, color $animation_time;
  &:focus {
    outline: 0;
    border-bottom: 2px solid $color-accent;
  }
  &:hover {
    color: $color-accent;
    border-bottom: 2px solid $color-accent;
    transition: border $animation_time;
  }
  &:active {
    color: $color-accent-light;
    border-bottom: 2px solid $color-accent-light;
    transition: border $animation_time, color $animation_time;
  }
  &:disabled {
    color: $color-secondary;
  }
}
