h1,
p {
	margin: 0;
}

.header1 {
	font-family: "Exo 2";
	font-weight: 700;
	font-size: 64px;
	line-height: 64px;
	text-align: center;
}

.header2 {
	font-family: "Exo 2";
	font-weight: 700;
	font-size: 36px;
	line-height: 40px;
	padding: 16px 0;
}

.headline {
	font-family: "Exo 2";
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
}

.text {
	font-family: "JetBrains Mono";
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.text_link {
	composes: text;
	text-decoration: underline;
}

.caption {
	font-family: "JetBrains Mono";
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
}

.primary {
	color: var(--text-primary-color);
}

.secondary {
	color: var(--text-secondary-color);
}

.shadow {
	text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25),
		0px 4px 32px rgba(51, 51, 255, 0.5);
}
