.list {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.list_item {
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.active, .active path {
  color: #FAFAFA !important;
}

.link {
  text-decoration: none;
  color: #0A0A0A;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;
}

.active path {
  color: #FAFAFA;
}