.list {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.list_item {
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.active, .active path, .active circle {
  color: var(--text-color) !important;
  stroke: var(--text-color);
}

.link {
  text-decoration: none;
  color: var(--background);
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
}

.text {
  margin-left: 8px;
}

.link:hover {
  opacity: 0.6;
  transition: all 0.7s ease;
}

.link:focus {
  outline: 0;
  box-shadow: none;
}