.list {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.active {
  color: #FAFAFA;
}

.link {
  text-decoration: none;
  color: #0A0A0A;
  margin-right: 16px;
}

/* .link::before {
  content: "";
  display: block;
  background: url("../../../images/home-icon.svg") no-repeat;
  width: 24px;
  height: 24px;
  float: left;
  margin: 0 6px 0 0;
} */