.articlePreview{
  width: 808px;
  border: 1px white solid;
  padding: 32px 16px;

}

.articleImage{
  background-color: var(--article-img-background);
  width: 160px;
  height: 228px;
  border-style: none;
}

.headerInfo{
  display: flex;
}

.articleHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.articleFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerText{
  display: flex;
  flex-direction: column;
}

.userImage{
  width: 40px;
  height: 40px;
}

.link {
  color: var(--link-color-primary);
  text-decoration: underline;
  text-decoration-color:  var(--link-color-primary);
}