.card {
    border-radius: 20px;
    background-color: var(--input-color);
}

.top {
    padding: 24px;
}

.footer {
    padding: 24px;
    background-color: var(--bg-secondary-color);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    gap: 8px;
}