@import '../ui-style/ui-style.scss';

.button {
  @include text-default;
  border: 0;
  outline: 0;
  border-radius: 20px;
  height: 40px;
  padding: 0px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}

.default {
  color: $PRIMARY;
  background-color: $ACCENT;
  transition: background-color 0.5s, color 0.5s;
  &:hover {
    background-color: $ACCENT_DARK;
    transition: background-color 0.5s, color 0.5s;
  }
  &:focus {
    outline: 2px solid $ACCENT_LIGHT;
  }
  &:active {
    background-color: $ACCENT_LIGHT;
  }
  &:disabled {
    color: $SECONDARY;
    background-color: $DISABLED;
  }
}

.navigation {
  color: $SECONDARY;
  background-color: transparent;
  transition: background-color 0.5s, color 0.5s;
  &:hover {
    color: $PRIMARY;
    background-color: $WHITE10;
    transition: background-color 0.5s, color 0.5s;
  }
  &:focus {
    outline: 2px solid $WHITE10;
  }
  &:active {
    color: $PRIMARY;
    background-color: $WHITE10;
  }
  &:disabled {
    color: $SECONDARY;
    background-color: transparent;
  }
  &_active {
    color: $PRIMARY;
  }
}

.outline {
  color: $ALERT;
  background-color: transparent;
  outline: 2px solid $ALERT;
  transition: background-color 0.5s, color 0.5s, outline 0.5s;
  &:focus {
    outline: 2px solid $ALERT;
    background-color: #ffffff11;
  }
  &:hover {
    color: $PRIMARY;
    background-color: $ALERT;
    outline: 2px solid transparent;
    transition: background-color 0.5s, color 0.5s, outline 0.5s;
  }
  &:active {
    color: $PRIMARY;
    background-color: darken($ALERT, 10%);
    outline: 2px solid transparent;
    transition: background-color 0.5s, color 0.5s, outline 0.5s;
  }
}

.text_button {
  @include text-default;
  line-height: 20px;
  color: $ACCENT;
  border: 2px solid transparent;
  border-left: 0;
  border-right: 0;
  padding: 0;
  background-color: transparent;
  transition: border 0.5s, color 0.5s;
  &:focus {
    outline: 0;
    border-bottom: 2px solid $ACCENT;
  }
  &:hover {
    border-bottom: 2px solid $ACCENT;
    transition: border 0.5s;
  }
  &:active {
    color: $ACCENT_LIGHT;
    border-bottom: 2px solid $ACCENT_LIGHT;
    transition: border 0.5s, color 0.5s;
  }
  &:disabled {
    color: $SECONDARY;
  }
}
