// @import '~bootstrap-reboot';
@font-face {
  font-family: 'LucidaSans';
  src: url('./assets/fonts/Lucida-Sans-Unicode.woff') format('woff'),
      url('./assets/fonts/Lucida-Sans-Unicode.woff2') format('woff2');
  font-weight: 400;
}
*,*:after,*:before{
  box-sizing: border-box;
}
body{
  font-family: 'LucidaSans', sans-serif;
  background-color:var(--white);
  margin: 0;
  overflow: hidden;
}
.article-page{
  overflow-y: auto;
  max-height: 95vh;
}
.article-page::-webkit-scrollbar{
  width: 8px;
  background: var(--banner-color);
}
.article-page::-webkit-scrollbar-thumb{
background: var(--primary);
border: 3px solid var(--primary);
}
.article-page::-webkit-scrollbar-button:vertical:start:decrement,
.article-page::-webkit-scrollbar-button:vertical:start:increment {
  display: none;
}
#root{
  background-color:var(--white);
  transition-property: background-color, background, color;
  transition:.3s linear;
  height: 100vh;
}
#root .profile-page{
  background-color:var(--white);
}
