@import url('./vendor/normalize.css');
@import url('./fonts/fonts.css');

:root {
  --background: #0A0A0A;

  --button-background-inactive: #666666;
  --button-text-inactive: #999999;
  --button-background-active: #EC4926;
  --button-text-active: #0A0A0A;
  
  --input-background: #292929;
  --input-border-radius: 20px;
  
  --text-color: #FAFAFA;
  --background-orange: #EC4926;
  --error-color: #EC2626;
  --success-color: #26EC26;
}

#root {
  
  box-sizing: border-box;
  font-family: 'Golos', Arial, sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%; 
  max-width: 1920px;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  margin: 0 auto;
}

body {
  background-color: #0A0A0A;
  color: #FAFAFA;
}

html {
  scroll-behavior: smooth;
}