@import '~bootstrap-reboot';
@font-face {
  font-family: 'LucidaSans';
  src: url('./assets/fonts/Lucida-Sans-Unicode.woff') format('woff'),
      url('./assets/fonts/Lucida-Sans-Unicode.woff2') format('woff2');
  font-weight: 400;
}
*,*:after,*:before{
  box-sizing: border-box;
}
body{
  font-family: 'LucidaSans', sans-serif;
  background-color:var(--white);
  margin: 0;
}
#root{
  background-color:var(--white);
  transition-property: background-color, background, color;
  transition:.3s linear;
  height: 100vh;
}
#root .profile-page{
  background-color:var(--white);
}
.DraftEditor-root{
  height: 100%;
  width: 100%;
  border: none;
  padding: 24px;
  padding-bottom: 0;
  color:var(--dark-text);
  background-color: var(--comment-input);
}