@import '../ui-style/ui-style.scss';

.tag {
  @include text-small;
  cursor: default;
  display: inline;
  padding: 4px 8px;
  color: $PRIMARY;
  background-color: $INPUT;
  border-radius: 20px;
  border: 0;
  &:focus {
    outline: 0;
  }
}

.active {
  background-color: $ACCENT;
}

.interactive {
  cursor: pointer;
  background-color: $ACCENT;
}
