.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	.logout {
		padding: 40px 0;
		width: 540px;
		display: flex;
		justify-content: center;
		border-top: 1px solid var(--divider-color);
	}
}
