.page {
  width: 100%;
}

.page__container {
  width: 1140px;
  margin: 32px auto;
}

.page__container h1 {
  width: 540px;
  height: 72px;
  padding: 16px 0;
  margin: auto;
  margin-bottom: 24px;
  
  font-size: 36px;
  line-height: 40px;
  text-align: center;

  color:var(--dark-text);
}

.page__container hr {
  width: 540px;
  margin-bottom: 32px;  
}

.form__container {
  margin: auto;
  width: 574px;
  padding: 24px 16px;
  padding-bottom: 32px;
  margin-bottom: 0px;
}

.url__group {
  position: relative;
}

.url__group input {
  padding-right: 60px;
}

.url__group svg {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 8px;
}

.logout__button {
  display: block;
  width: 150px;
  padding: 0;
  border: none;
  background-color: transparent;
  margin: auto;
  text-decoration: none;

  color: #F53D5C;
  font-size: 16px;
  line-height: 24px;

  cursor: pointer;
}

.br {
  margin-top: 32px;
}