.container {
  margin: 0, auto;
  height: 112px;
  padding: 32px 0;
}

.list {
  list-style: none;
  height: 100%;
  width: 320px;
  padding: 0;
  margin:auto;
  display: flex;
  justify-content: center;
}

.element {
  height: 100%;
  width: 64px;
  margin: 0;
  padding: 12px;
  border: 1px solid var(--tags-border);
  background-color: var(--comment-container);

  text-align: center;
}

.link {
  display: block;
  width: 40px;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-text);;
}

.active__element {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.active__element a {
  color: #FFFFFF;
}