.banner {
	padding: 32px 0 32px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-bottom: 2px solid var(--divider-color);
	margin-bottom: 32px; 

}

.titleWrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.userWrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 16px;
}

.articleWrapper {
	width: var(--layout-width);
	max-width: 100vw;
	padding: 0 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.button {
	align-self: flex-end;
}
