@import '../../../assets/style/global.css';

.tab {
    background-color: var(--bg-primary-color);
    padding: 16px 24px;
    display: flex;
}

.active {
    color: var(--text-primary-color);
    box-shadow: inset 0 -2px 0 var(--accent-color);
}

.inactive {
    color: var(--text-secondary-color);
}

.tab:hover,.tab:active,.tab:visited,.tab:link {
    text-decoration: none;
    color: var(--text-primary-color);
}
